html
body
	height 100%
body
	font-size 12px
	line-height 1.2
	-webkit-text-size-adjust: 100%
body
input
button
textarea
	font-family: Arial, Helvetica, sans-serif
	background #FFF

input
button
textarea
	ibreset()

button
	cursor pointer
	&::-moz-focus-inner
	&::-moz-focus-inner
		border: 0
		padding: 0  

a
	text-decoration none

em
i
	font-style italic

b
strong
	font-weight bold
input:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
input:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
input:focus:-moz-placeholder {
	opacity: 0;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
input:focus:-ms-input-placeholder {
	opacity: 0;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
